<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PALMagArchived</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="article-list" style="background-color: rgb(58,78,56);filter: brightness(116%);">
        <div class="container-fluid" style="background-color: rgb(58,115,56);">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(58,115,56);">
                <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1" style="background-color: #d0d7d1;">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active">Credits</a></li>
                            <li class="nav-item" role="presentation"></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="About.html">About</a></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Magnus Archives LInks</a>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="https://twitter.com/therustyquill">Twitter</a><a class="dropdown-item" role="presentation" href="https://open.spotify.com/show/5pwBAjuJJAOt7cED5Lkjnk">Spotify</a><a class="dropdown-item"
                                        role="presentation" href="https://podcasts.apple.com/us/podcast/the-magnus-archives/id1095138637">iTunes</a><a class="dropdown-item" role="presentation" href="http://rustyquill.com/">Rusty Quill</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="intro">
                <h1 class="display-4" style="background-color: #d0d7d1;">&nbsp; &nbsp; Magnus Archived</h1>
                <p class="text-center" style="background-color: #d0d7d1;">A centralized fansite where you can listen to and follow along with the Magnus Archives podcast.</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 001: Angler Fish</h3>
                    <p class="description">Content Warnings:<br>Abduction, Unsettling strangers/people being uncanny, alcohol, smoking.<br><br>Episode Description:<br>Case #0122204 Statement of Nathan Watts, regarding an encounter on Old Fishmarket Close, Edinburgh . … The
                        Magnus Archives are now open… Join Head Archivist Jonathan Sims as he begins his work transcribing the archives of the Magnus Institute. An organisation dedicated to the investigation of the esoteric and weird.<br></p><a class="action"
                        href="EpisodeTemplate.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 002: Do Not Open</h3>
                    <p class="description">Content Warnings:<br>Altered mental states, drug mentions, undead, sleep disorders.<br><br>Episode Description:<br>Case #9982211<br>Statement of Joshua Gellespie regarding his time in the possession of an apparently empty wooden casket.<br></p>
                    <a
                        class="action" href="EpisodeTemplate.html"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 003: Across the Street</h3>
                    <p class="description">Content Warnings:<br>Stalking, being watched, imposters, someone being replaced and only you notice, paranoia-induction, head injury, surveillance, identity theft, body horror.<br><br>Episode Description:<br>Case #0070107<br>Statement
                        of Amy Patel, regarding the alleged disappearance of her acquaintance Graham Folger.<br></p><a class="action" href="EpisodeTemplate.html"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 004: Page Turner</h3>
                    <p class="description">Content Warnings:<br>Lightning, electrocution, heights, vertigo, body horror, human remains, animal remains, injury, book burning, food mentions.<br><br>Episode Description:<br>Case #0132806<br>Statement of Dominic Swain regarding
                        a book briefly in his possession in the winter of 2012.<br></p><a class="action" href="EpisodeTemplate.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 005: Thrown Away</h3>
                    <p class="description">Content Warnings:<br>Dolls, teeth, unsanitary conditions, body horror, privacy invasion, mental instability, vomiting, car accident, alchohol.<br><br>Episode Description:<br>Case #0092302<br>Statement Of Keiran Woodward regarding items
                        recovered from the refuse of 93 Lancaster Rd. Walthamstowe.<br></p><a class="action" href="EpisodeTemplate.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a class="item" style="background-color: #d0d7d1;"></a>
                    <h3 class="name">Episode 006: Squirm</h3>
                    <p class="description">Content Warnings:<br>Sexual content(nonexplicit), drugs, insects, gore, body horror, scratching, human infestation, things under skin, physical violence, paranoia, fire.<br><br>Episode Description:<br>Case #0140912<br>Statement of
                        Timothy Hodge regarding his sexual encounter with Harriet Lee and her subsequent death.<br></p><a class="action" href="EpisodeTemplate.html"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 007: The Piper</h3>
                    <p class="description">Content Warnings:<br>War, battle, injuries, blood, firearms violence, knife violence, bomb violence, psychological trauma.<br><br>Episode Description:<br>Case #9220611<br>Statement of Staff Sgt. Clarence Berry regarding his time serving
                        with Wilfred Owen in the great war.<br></p><a class="action" href="Episode007.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 008: Burned Out</h3>
                    <p class="description">Content Warnings:<br>Burn injuries, immolation, arachnophobia, gore, graphic suicide, paranoia-induction.<br><br>Episode Description:<br>Case #0071304<br>Statement of Evo Lensik regarding his experiences during the construction of
                        a house on hilltop road Oxford.<br></p><a class="action" href="Episode008.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 009: A Father's Love</h3>
                    <p class="description">Content Warnings:<br>Religious violence, serial killer, gore, cults, being chased, darkness.<br><br>Episode Description:<br>Case #0020312<br>Statement of Julia Montork regarding the actions and motivations of her father the serial
                        killer Robert Montork.<br></p><a class="action" href="Episode009.html"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 010: Vampire Killer</h3>
                    <p class="description">Content Warnings:<br>Physical Violence, child death, immolation, heroid/alchohol abuse, gore, cancer, spousal avbuse, knife violence, survivor's guilt, fire.<br><br>Episode Description:<br>Case #0100710<br>Statement of Trevor Herbert,
                        regarding his life as a self-proclaimed vampire hunter.<br></p><a class="action" href="Episode010.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 011: Dreamer</h3>
                    <p class="description">Content Warnings:<br>Death(foreseeing death), unreality, mental instability, sleep disorders, body horror, suicide, heart disease.<br><br>Episode Description:<br>Case #0151403<br>Statement of Antonio Blake , regarding his recent dreams
                        about Gertrude Robinson, previous Head Archivist of the Magnus Institute.<br></p><a class="action" href="Episode011.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 012: First Aid</h3>
                    <p class="description">Content Warnings:<br>Immolation, burn injuries, medical settings, knife violence.<br><br>Episode Description:<br>Case #0121102<br>Statement of Lesere Saraki, regarding a recent night-shift at St. Thomas Hospital, London .<br></p>
                    <a
                        class="action" href="Episode012.html"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 013: Alone</h3>
                    <p class="description">Content Warnings:<br>Isolation, death of a loved one, car crashes, graveyard, getting lost.<br><br>Episode Description:<br>Case #0161301<br>Statement of Naomi Herne, regarding the events following the funeral of her fiancé, Evan Lukas.<br></p>
                    <a
                        class="action" href="Episode013.html"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 014: Piecemeal</h3>
                    <p class="description">Content Warnings:<br>Self-harm, body horror, gore, cannibalism.<br><br>Episode Description:<br>Case #0112905<br>Statement of Lee Rentoul, on the murder of his associate Paul Noriega.<br></p><a class="action" href="Episode014.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item" style="background-color: #d0d7d1;"><a href="#"></a>
                    <h3 class="name">Episode 015: Lost John's Cave</h3>
                    <p class="description">Content Warnings:<br>Claustrophobia, drowning, death of a sibling, unhealthy family.<br><br>Episode Description:<br>Case #0140911<br>Statement of Laura Popham, regarding her experience exploring the Three Counties System of caves with
                        her Sister Aleana Sanderson.<br></p><a class="action" href="Episode015.html"><i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>