<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Archives</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="article-list">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean">
                <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Credits</a></li>
                            <li class="nav-item" role="presentation"></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">About</a></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Magnus Archives LInks</a>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Twitter</a><a class="dropdown-item" role="presentation" href="#">Spotify</a><a class="dropdown-item" role="presentation" href="#">iTunes</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="intro">
                <h2 class="text-center">Magnus Archived</h2>
                <p class="text-center">A centralized fansite where you can listen to and follow along with the Magnus Archives podcast.</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">Episode 001: Anglerfish</h3>
                    <p class="description">Content Warnings:<br>Abduction, Unsettling strangerrs/people being uncanny, alcohol, smoking.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">Episode 002: Do Not Open</h3>
                    <p class="description">Content Warnings:<br>Altered mental states, drug mentions, undead, sleep disorders.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">Episode 003: Across the Street</h3>
                    <p class="description">Content Warnings:<br>Stalking, being watched, imposters, someone being replaced and only you notice, paranoia-induction, head injury, surveillance, identity theft, body horror.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">Episode 004: Page Turner</h3>
                    <p class="description">Content Warnings:<br>Lightning, electrocution, heights, vertigo, body horror, human remains, animal remains, injury, book burning, food mentions.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item"><a href="#"></a>
                    <h3 class="name">Episode 005: Thrown Away</h3>
                    <p class="description">Content Warnings:<br>Dolls, teeth, unsanitary conditions, body horror, privacy invasion, mental instability, vomiting, car accident, alchohol.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                <h3 class="name">Episode 006: Squirm</h3>
                <p class="description">Content Warnings:<br>Sexual content(nonexplicit), drugs, insects, gore, body horror, scratching, human infestation, things under skin, physical violence, paranoia, fire.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                <h3 class="name">Episode 007: The Piper</h3>
                <p class="description">Content Warnings:<br>War, battle, injuries, blood, firearms violence, knife violence, bomb violence, psychological trauma.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                <h3 class="name">Episode 008: Burned Out</h3>
                <p class="description">Content Warnings:<br>Burn injuries, immolation, arachnophobia, gore, graphic suicide, paranoia-induction.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                <h3 class="name">Episode 009: A Father's Love</h3>
                <p class="description">Content Warnings:<br>Religious violence, serial killer, gore, cults, being chased, darkness.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"></a>
                <h3 class="name">Episode 010: Vampire Killer</h3>
                <p class="description">Content Warnings:<br>Physical Violence, child death, immolation, heroid/alchohol abuse, gore, cancer, spousal avbuse, knife violence, survivor's guilt, fire.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><a href="#"></a>
                <h3 class="name">Episode 011: Dreamer</h3>
                <p class="description">Content Warnings:<br>Death(foreseeing death), unreality, mental instability, sleep disorders, body horror, suicide, heart disease.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
        <div class="col-sm-6 col-md-4 item"><a href="#"></a>
            <h3 class="name">Episode 012: First Aid</h3>
            <p class="description">Content Warnings:<br>Immolation, burn injuries, medical settings, knife violence.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    <div class="row articles">
        <div class="col-sm-6 col-md-4 item"><a href="#"></a>
            <h3 class="name">Episode 013: Alone</h3>
            <p class="description">Content Warnings:<br>Isolation, death of a loved one, car crashes, graveyard, getting lost.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
        <div class="col-sm-6 col-md-4 item"><a href="#"></a>
            <h3 class="name">Episode 014: Piecemeal</h3>
            <p class="description">Content Warnings:<br>Self-harm, body horror, gore, cannibalism.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
        <div class="col-sm-6 col-md-4 item"><a href="#"></a>
            <h3 class="name">Episode 015: Lost John's Cave</h3>
            <p class="description">Content Warnings:<br>Claustrophobia, drowning, death of a sibling, unhealthy family.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
